# openssl.cnf
[ req ]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no

[ req_distinguished_name ]
CN = localhost

[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = localhost
IP.1 = 127.0.0.1
IP.2 = 127.0.0.1
IP.3 = 127.0.0.1
IP.4 = 127.0.0.1
IP.5 = 127.0.0.1
IP.6 = 127.0.0.1
IP.7 = 127.0.0.1
IP.8 = 127.0.0.1
IP.9 = 127.0.0.1
IP.10 = 127.0.0.1
